html(lang="es")
    head
        title=titulo
        link(href="/stylesheets/estilos.css",rel='stylesheet')
    body
        h1
            a(href="http://tienda_de_fruta.com") Tienda de Frutas
        div
            p Nuetra tienda de fruta tiene selectas delicias en la internet, satisfacción 100% garantizada

            img(src="images/"+imagen)
        h2 Nuestras frutas
        ul
            li manzana
            li pera
            li aguacate
            li=fruta